<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
{#    https://icons8.com/icons/set/planaria#}

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.min.css" />

    <script src="/static/js_libs/bootstrap.bundle.min.js"></script>
    <script src="/static/js_libs/jquery.min.js"></script>
    <script src="/static/js_libs/jstree.min.js"></script>
    <script src="/static/js_libs/vue.min.js"></script>
    {{ data|json_script:"vue_data" }}
    {% for item in data.menu %}
      <script src="/static/js/{{item.name}}.js"></script>
    {% endfor %}
    <script src="/static/js/utils.js"></script>
</head>
<body>

<div class="row pt-1 pb-2 m-0" id="app">
    {% verbatim %}
    <ul class="nav nav-tabs ps-1">
        <li class="nav-item" v-for="item in menu">
            <a :class="['nav-link', { 'active': item.name === current_tab }]" @click.prevent.stop="switchTab(item.name)">{{ item.label }}</a>
        </li>
    </ul>
    {% endverbatim %}

    {% include 'modal.html' %}

    {% for item in data.menu %}
      {% with template=item.name|add:".html" %}
        {% include template %}
      {% endwith %}
    {% endfor %}
</div>

</body>
</html>