<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
{#    https://icons8.com/icons/set/planaria#}

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.min.css" />

    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jstree.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    {{ data|json_script:"vue_data" }}
    <script src="/static/js/main.js"></script>
</head>
<body>

<div class="row pt-1 pb-2 m-0" id="app">
    {% verbatim %}
    <ul class="nav nav-tabs pe-0">
        <li class="nav-item" v-for="item in menu">
            <a :class="['nav-link', { 'active': item.name === config.current_tab }]" @click.prevent.stop="switchTab(item.name)">{{ item.label }}</a>
        </li>
    </ul>
    {% endverbatim %}
    {% include 'script_cleaner.html' %}
    {% include 'text_image_feedback_spiral.html' %}
    {% include 'settings.html' %}
</div>

</body>
</html>