{% verbatim %}
<div class="modal fade" id="modal" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
            {{ dialogTitle }}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <template v-if="dialog === 'select_file'">
              <div id="jstree"></div>
          </template>
          <template v-else-if="dialog === 'yes_no_dialog' || dialog === 'notify_dialog'">
               <div v-html="msg"></div>
          </template>
      </div>
      <div class="modal-footer">
          <template v-if="dialog === 'select_file'">
              <button type="button" class="btn btn-primary" @click.prevent="closeFileSelect">Done</button>
          </template>
          <template v-else-if="dialog === 'yes_no_dialog'">
              <button type="button" class="btn btn-primary" @click.prevent="dialogAnswer(false)">No</button>
              <button type="button" class="btn btn-primary" @click.prevent="dialogAnswer(true)">Yes</button>
          </template>
          <template v-else-if="dialog === 'notify_dialog'">
              <button type="button" class="btn btn-primary" @click.prevent="hideModal">Ok</button>
          </template>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}