{% verbatim %}
<template v-if="config.current_tab === 'script_cleaner'">
<div class="modal fade" id="modal" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
            {{ dialogTitle }}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <template v-if="dialog === 'select_video'">
              <div id="jstree"></div>
          </template>
          <template v-else-if="dialog === 'yes_no_dialog' || dialog === 'notify_dialog'">
               <div v-html="msg"></div>
          </template>
      </div>
      <div class="modal-footer">
          <template v-if="dialog === 'select_video'">
              <button type="button" class="btn btn-primary" @click.prevent="selectVideo">Done</button>
          </template>
          <template v-else-if="dialog === 'yes_no_dialog'">
              <button type="button" class="btn btn-primary" @click.prevent="dialogAnswer(false)">No</button>
              <button type="button" class="btn btn-primary" @click.prevent="dialogAnswer(true)">Yes</button>
          </template>
          <template v-else-if="dialog === 'notify_dialog'">
              <button type="button" class="btn btn-primary" @click.prevent="hideModal">Ok</button>
          </template>
      </div>
    </div>
  </div>
</div>

<div class="row my-2">
    <div class="col-12">
        <template v-if="config.selected_video === null">
            Video isn't selected
        </template>
        <template v-else>
            Selected video: {{ config.selected_video }}
        </template>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="row my-2">
            <div class="col-12">
                <button
                        type="button"
                        class="btn btn-primary"
                        @click="openModal('select_video')"
                >
                  Select video
                </button>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-12">
                <textarea class="form-control" rows="10" v-model="config.script_cleaner_prompt"></textarea>
            </div>
        </div>

        <div class="row my-2">
            <label for="use_existing_files" class="form-check-label col-4">Use existing files</label>
            <div class="col-1">
                <input
                        class="form-check-input"
                        type="checkbox"
                        id="use_existing_files"
                        v-model="config.use_existing_files"
                >
            </div>
        </div>

        <div class="row my-2">
            <label for="percent_of_max_tokens_to_use_for_response" class="col-8 col-form-label">
                Percent of LLM context to use for response
            </label>
            <div class="col-2">
                <input  class="form-control form-control-sm"
                        type="number"
                        id="percent_of_max_tokens_to_use_for_response"
                        v-model="config.percent_of_max_tokens_to_use_for_response"
                >
            </div>
        </div>

        <div class="row my-2">
            <div class="col-12">
                <button type="button" class="btn btn-primary" @click.prevent="script_cleaner_run">Run</button>
            </div>
        </div>
    </div>


    <div class="col-6">
        <div v-html="gpt_answer"></div>
    </div>
</div>

</template>
{% endverbatim %}