{% verbatim %}
<template v-if="current_tab === 'word_clouds'">
    <div class="row mt-2 d-flex justify-content-center" v-if="inProgress">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-2">
            <button
                    type="button"
                    class="btn btn-primary"
                    @click="openModal('select_file', 'Select folder with pdfs', 'folder_with_pdfs', showCreatedAt)"
            >
                Select folder with pdfs
            </button>
        </div>
        <div class="col-3">
            {{ state.folder_with_pdfs }}
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" @click.prevent="recalc_freqs">
                Recalculate frequencies
            </button>
            <button type="button" class="btn btn-primary" @click.prevent="extract_words">
                Extract words
            </button>
        </div>

        <div class="col-4">
            {{ state.words_video }}
        </div>
    </div>

    <div class="row mt-2">
        <label for="top_n" class="col-2 col-form-label">
            Use top {{state.top}} words
        </label>
        <div class="col-10">
            <input
                    type="range"
                    v-model="state.top"
                    class="form-range"
                    id="top_n"
                    min="1"
                    max="1000"
                    step="1"
            >
        </div>
    </div>

    <div class="row mt-2">
        <label class="col-2 col-form-label">
            Include parts of speech
        </label>
        <div class="col-10">
            <div class="form-check form-check-inline" v-for="pos in parts_of_speech">
                <input class="form-check-input" type="checkbox" :id="pos.pos" :value="pos.pos"
                       v-model="included_parts_of_speech" @change="parts_of_speech_updated">
                <label class="form-check-label" :for="pos.pos">{{ pos.label }}</label>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-2">
            <div class="mb-3">
                <label for="width" class="form-label">Width in px</label>
                <input type="text" class="form-control" id="width" v-model="state.screen_width" @change="preview(undefined)">
            </div>
        </div>
        <div class="col-2">
            <div class="mb-3">
                <label for="height" class="form-label">Height in px</label>
                <input type="text" class="form-control" id="height" v-model="state.screen_height" @change="preview(undefined)">
            </div>
        </div>
        <div class="col-3 d-flex">
            <div class="mb-3">
                <label for="color" class="form-label">Background color</label>
                <input type="color" class="form-control form-control-color" id="color" v-model="state.background_color"
                       @change="preview(undefined)">
            </div>

            <div class="mb-3 mx-3">
                <label for="all_weight_factor" class="form-label">
                    Weight factor {{ state.all_weight_factor }}
                </label>
                <input type="range" class="form-range" v-model="state.all_weight_factor"
                       @change="updateWeightFactorsAndPreview" min="0" step="any" max="32"
                       id="all_weight_factor">
            </div>
        </div>
        <div class="col-2">
            <div class="mb-3">
                <label for="year_duration" class="form-label">One slide duration in seconds</label>
                <input type="text" class="form-control" id="year_duration" v-model="state.year_duration">
            </div>
        </div>

        <div class="col-3">
            <div class="mb-3">
                <button type="button" class="btn btn-primary" @click.prevent="preview(undefined)">
                    Generate preview
                </button>
                         <button type="button" class="btn btn-primary" @click.prevent="generateVideo">
                    Generate video
                </button>
            </div>
        </div>
    </div>

    <template v-for="(_, idx) in year_to_source_files_sorted">
        <div class="row mt-1">
            <div class="col-1">
                <input class="form-control" type="number" v-model="year_to_source_files_sorted[idx].year" @input="updateYear">
            </div>
            <div class="col-11">{{ year_to_source_files_sorted[idx].file }}</div>
        </div>
    </template>

    <div class="row mt-2">
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-header">
                    Blacklist
                </div>
                <div class="card-body">
                    <small class="d-inline-flex px-2 py-1 fw-semibold border rounded-2 m-1"
                           :class="word.set_by === 'manual' ? 'border-success' : 'border-dark-subtle'"
                           v-for="(word, idx) in black_list"
                    >
                        {{ word.lemma }} {{ word.frequencies }}
                        <button type="button" class="btn-close" aria-label="Close"
                                @click.prevent="addToWhitelist(word, idx)"></button>
                    </small>
                </div>
            </div>
        </div>
        <div class="col-8">
            <template v-for="(item, idx) in top_by_years">
                <div class="card mb-3">
                    <div class="card-header">
                        {{ item.year }}
                    </div>
                    <div class="card-body">
                        <template v-for="(word, word_idx) in item.words" v-if="word_idx < state.top">
                            <small class="d-inline-flex px-2 py-1 fw-semibold border rounded-2 m-1"
                                   :class="word.in_whitelist ? 'border-success' : 'border-dark-subtle'"
                            >
                                {{ word.lemma }} {{ word.frequency }}
                                <button type="button" class="btn-close" aria-label="Close"
                                        @click.prevent="addToBlacklist(word)"></button>
                            </small>
                        </template>

                        <div class="row mt-2">
                            <div class="col-2">
                                Year {{ item.year }}
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label :for="item.year + 'weightFactor'" class="form-label">
                                        Words size: {{ top_by_years[idx].weight_factor }}
                                        <br>(too big size may hide frequent words, clicking regenerate may help)
                                    </label>
                                    <input type="range" class="form-range" v-model="top_by_years[idx].weight_factor"
                                           @change="updateWeightFactors(item.year)" min="0" step="any" max="32"
                                           :id="item.year + 'weightFactor'">
                                </div>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-primary" @click.prevent="preview(item.year)">
                                    Regenerate
                                </button>
                            </div>
                        </div>
                        <canvas :id="item.year" :width="state.screen_width" :height="state.screen_height"
                                style="width: 100%; height: auto;border:1px solid #000000;"></canvas>
                    </div>
                </div>


            </template>


        </div>
    </div>
</template>
{% endverbatim %}